.main {
    background-image: url("/main-background.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-top: 163px;
    // padding-bottom: 228px;
    margin-bottom: 96px;

    &__container {}

    &__wrapper {}

    &__buttons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 -15px;
    }

    &__button {
        display: flex;
        background: #FFFFFF;
        border-radius: 999px;
        font-weight: 300;
        font-size: 14px;
        color: #111936;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        transition: .2s;

        &_short {
            max-width: 200px;
        }

        &_long {
            max-width: 270px;
        }

        &:hover {
            background-color: #28344c;
            color: #fff;
        }
    }

    &__descr {
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 770px;
        margin-bottom: 18px;
    }

    &__note {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 44px;
    }

    &__cars {
        display: flex;
        flex-flow: flex nowrap;
        align-items: flex-end;
    }

}