<section class="main">
    <div class="main__container container">
        <div class="main__wrapper row">
            <h3 class="main__descr">Оформлення дозволів на ПРОЇЗД
                Великогабаритних та великовагових
                ТРАНСПОРТНИХ ЗАСОБІВ</h3>
            <p class="main__note">Ми економимо Ваш час!</p>
            <div class="main__buttons">
                <a href="#" class="main__button main__button_short">Замовити зараз!</a>
                <a href="#" class="main__button main__button_long">Перевірити дозвіл</a>
            </div>
            <div class="main__cars">
                <img src="{{src}}car-1.png" alt="">
                <img src="{{src}}car-2.png" alt="">
            </div>
        </div>
    </div>
</section>