html {
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 1.5;
	font-family: 'SFProDisplay', 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
input {
	background-color: transparent;
	border: none;
}

ol,
ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
}

.caption {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 6px;
	color: #111936;

	&_sub {
		color: #D6D6D6;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 0;
	}

}