@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@font-face {
    font-family: 'SFProDisplay';
    src: url('../../fonts/SFProDisplay-Thin/SFProDisplay-Thin.eot');
    src: url('../../fonts/SFProDisplay-Thin/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFProDisplay-Thin/SFProDisplay-Thin.woff') format('woff'),
        url('../../fonts/SFProDisplay-Thin/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../../fonts/SFProDisplay-Light/SFProDisplay-Light.eot');
    src: url('../../fonts/SFProDisplay-Light/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFProDisplay-Light/SFProDisplay-Light.woff') format('woff'),
        url('../../fonts/SFProDisplay-Light/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot');
    src: url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'),
        url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot');
    src: url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff') format('woff'),
        url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot');
    src: url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff') format('woff'),
        url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}