<!DOCTYPE html>
<html lang="en">

{% include "../components/head/head.njk" %}

<body>
    {% include "../components/header/header.njk" %}
    <div class="container">
        <ul>
            <li>
                <a href="/main.html">Главная</a>
            </li>
        </ul>
    </div>
    {% include "../components/footer/footer.njk" %}

</body>
{% include "../components/script.njk" %}

</html>