<!DOCTYPE html>
<html lang="en">

{% include "../components/head/head.njk" %}

<body>
    {% include "../components/header/header.njk" %}
    <main class="page">
        <div class="page__wrapper">

            {% include "../components/main/main.njk" %}
            {% include "../components/services/services.njk" %}
            {% include "../components/info/info.njk" %}

        </div>
    </main>
    {% include "../components/footer/footer.njk" %}

</body>
{% include "../components/script.njk" %}

</html>