<section class="services">
    <div class="services__container container">
        <div class="services__wrapper row">

            <div class="col-12">
                <div class="row">
                    <h4 class="caption">Наші послуги</h4>
                    <p class="caption caption_sub">У той час якийсь безіменний друкар створив</p>
                </div>
                <div class="services__grid row">
                    <div class="col-6">
                        <div class="services__block" style="background-image: url('{{src}}service-1.png');">
                            <img src="{{src}}document-icon.svg" alt="">
                            <p class="services__block-text">
                                Оформлення дозволів на перевезення негабаритних та великовагових вантажів по Україні
                            </p>
                            <a href="#" class="services__block-button">Замовити зараз!</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="services__block" style="background-image: url('{{src}}service-2.png');">
                            <img src="{{src}}shield-icon.svg" alt="">
                            <p class="services__block-text">
                                Організація супроводу патрульними автомобілями Національної Поліції України
                            </p>
                            <a href="#" class="services__block-button">Замовити зараз!</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>