<section class="info">
    <div class="info__container container">
        <div class="info__wrapper row">
            <div class="col-7">
                <div class="info__left">
                    <h4 class="caption">Допомога в оформленні</h4>
                    <p class="caption caption_sub">Вам оперативно дадуть відповідь, проконсультують і допоможуть оформити документи:</p>
                    <div class="info__contacts">
                        <div class="info__contacts-block">
                            <img src="{{src}}avatar-icon.svg" alt="" class="info__contacts-avatar">
                            <div class="info__contacts-info">
                                <span class="info__contacts-name">Ірина</span>
                                <span class="info__contacts-phone">+38 (050) 463 77 00</span>
                                <span class="info__contacts-email">vap.service2016@ukr.net</span>
                            </div>
                        </div>
                        <div class="info__contacts-block">
                            <img src="{{src}}avatar-icon.svg" alt="" class="info__contacts-avatar">
                            <div class="info__contacts-info">
                                <span class="info__contacts-name">Олексій</span>
                                <span class="info__contacts-phone">+38 (050) 345 07 00</span>
                                <span class="info__contacts-email">vap.service2016@ukr.net</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="info__right">
                    <img src="{{src}}info-background.png" alt="">
                </div>
            </div>
        </div>
</section>