.info {
    margin-bottom: 120px;

    &__wrapper {
        width: 100%;
    }

    &__left {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    &__right {
        img {
            position: absolute;
            right: 0;
        }
    }

    &__contacts {
        padding-top: 50px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 -21px;

        &-avatar {
            margin-right: 23px;
            max-width: 90px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {}
        }

        &-block {
            max-width: calc(50% + 42px);
            margin: 0 21px;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-name {
            margin-bottom: 9px;
            font-weight: 500;
        }

        &-phone,
        &-email {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 9px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 99px;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 9px;
            }
        }

        &-phone {
            &:before {
                background-image: url('phone-icon.svg');
            }
        }

        &-email {
            &:before {
                background-image: url('email-icon.svg');
            }
        }
    }
}